@import 'bootstrap/scss/bootstrap';

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:hover {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: red;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 25px;
  border: 1px solid gray;
}

body {
  background: rgb(42, 42, 42);
}
